
.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #FFD9C0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 10px 0 10px 0;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.nav {
    display: inline-flex;
}

.nav-link.navbar-link {
    color: #4F709C;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}

.nav-link.navbar-link:hover {
    color: #213555;
    font-size: 20px;
    cursor: pointer;
}

.gallery-container > h1 {
    margin: 15px 0 15px 0;
}

.tile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 150px;
    margin-bottom: 40px;
    background-color: #CCEEBC;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: transform ease 0.5s, box-shadow ease 0.5s;
}

.tile-container:hover {
    box-shadow: rgba(100, 100, 111, 0.6) 0px 7px 29px 0px;
    cursor: pointer;
}

.tile-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-height: 120px;
}

.load-button {
    margin: 20px 0 40px 0;
    padding: 5px 10px 5px 10px;
    background-color: #FFD9C0;
    color: #4F709C;
    border-radius: 8px;
    border: 2px solid #faba90;
}

.load-button:hover {
    color: #213555;
    background-color: #faba90;
    box-shadow: rgba(100, 100, 111, 0.6) 0px 5px 8px 0px;
    transition: transform ease 0.5s, box-shadow ease 0.5s;
}

.ReactModal__Content > .modal-header {
    justify-content: center;
    color: #faba90;
}

.image-container > img{
    width: 230px;
    height: 170px;
    object-fit: contain;
    display: block;
    margin: auto;
}

.image-container > svg{
    display: block;
    margin: 10px auto;
}

.image-container > svg:hover{
    cursor: pointer;
}

.details-container {
    margin-top: 20px;
}

.breed-details {
    color: #ab8463;
}

.copy-container {
    margin-top: 20px;
}

.copy-container > span {
    color: #ab8463;
    display: block;
    text-align: center;
    margin: 10px 0 10px 0;
}

.copy-container > button.copy-url-button {
    margin-top: 10px;
}

.button-container {
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin: 20px -20px;
}

.ReactModal__Content button {
    margin: 20px 0 40px 0;
    padding: 5px 10px 5px 10px;
    background-color: #FFD9C0;
    color: #4F709C;
    border-radius: 8px;
    border: 2px solid #faba90;
    display: block;
    margin: auto;
}

.ReactModal__Content button:hover {
    color: #213555;
    background-color: #faba90;
    box-shadow: rgba(100, 100, 111, 0.6) 0px 5px 8px 0px;
    transition: transform ease 0.5s, box-shadow ease 0.5s;
}
